/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url(../Img/Register\ .jpg);
  background-size: cover;
}



.container {
  position: relative;
  max-width: 700px;
  width: 100%;
/* !Glass effect is added here */
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border:1px solid rgba(35, 34, 34, 0.305);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.397);
padding: 25px;
border-radius: 30px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.41);
}
.container header  {
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.container header .h2{
    font-size: 1.5rem;
    color: #000000;
    font-weight: 800;
    text-align: center;
}
.container .Register-form {
  margin-top: 30px;
}
.Register-form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #ffffff;
}.Register-form :where(.input-box input) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.Register-form .column {
  display: flex;
  column-gap: 15px;
}
.Register-form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

/* where clouse is used to select mutltiple elements inside the main class */
.Register-form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.Register-form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(121, 174, 125);
}
.Register-form:where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #ffffff;
}
.Register-form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(65, 139, 90);
}
.Register-form button:hover {
  background: rgb(44, 66, 44);
}