*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*on an element, padding and border are included in the width and height:*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logoimg{
    width: 100px;
}

.userimg{
    width: 60px;
    border-radius: 100%;
    border: 1px solid white;
}

.
